@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Dancing+Script:wght@400..700&family=Lexend+Deca:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sankofa+Display&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: "Barlow Semi Condensed", sans-serif;
     font-weight: 500,600;
     font-size: 13px;

}
.container{
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.box{
    background-color: white;
    border-radius: 20px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box1{
    grid-column: 1/3;
    background-color: hsl(263, 55%, 52%);
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position:80% 0%;

}
.box2{
    grid-column: 3/4;
    background-color:hsl(217, 19%, 35%) ;
}
.box3{
    grid-column: 4/5;
    grid-row:1/3;
}
.box4{
    grid-column: 1/2;
}
.box5{
    grid-column: 2/4;
    background-color: hsl(219, 29%, 14%);
}
.box .head{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box .head img{
    border-radius: 50%;
}
.name h3{
   color: white;
}
.box h2{
    font-size: 24px;
    color: white;
}
.name p{
  color: white;
  opacity: 50%;
}
.box p{
    color: white;
    opacity: 70%;
    font-size: 18px;
}