@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sankofa+Display&display=swap');
body{
/* background:radial-gradient(red,green,red,green,red,green); */
  font-family: 'Times New Roman', Times, serif;
}
.heading{
    font-family: "Dancing Script", cursive;
    font-size: 10px;
  
    font-style: italic;
    text-align: center;
    text-decoration: 2px solid red;
    color: green;
    
    text-decoration-line: underline;
    text-transform: capitalize;
    text-shadow: 1px 1.5px yellow;
    
}
#5677{
    font-size: 48px;
    color:white;
}
.parent{
    font-size: 20px;
    height: 250px;
    width: 500px;
}
#myDiv{
    height:50vh;
    width: 50vw;
    background-color: red;
}