*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.todo{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 10px;
}