*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.movie{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px black;
    border-radius: 20px;
    transition: all 1s ease;
}
.movie:hover{
        box-shadow: 2px 3px orange;
        transform: scale(1.05);
}
.movie img{
    height: 200px;
}